@charset "UTF-8";
/* Global */
* {
  font-size: 62.5%;
  /*  Para usar REMs / 1rem = 10px */ }

p {
  font-size: 1.7rem;
  line-height: 1.1; }

img {
  width: 100%; }

/* Media queries */
h1 {
  font-size: 7rem; }

h2 {
  font-size: 3.5rem; }

h3 {
  font-size: 2.33333rem; }

h4 {
  font-size: 1.75rem; }

h5 {
  font-size: 1.4rem; }

h6 {
  font-size: 1.16667rem; }

/* Estilos placeholder*/
::-webkit-input-placeholder {
  color: #F8CF57 !important;
  font-size: 1.3rem; }

::-moz-placeholder {
  color: #F8CF57 !important;
  font-size: 1.3rem; }

:-ms-input-placeholder {
  color: #F8CF57 !important;
  font-size: 1.3rem; }

.negrita {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  font-size: 2.5rem; }

/* Fondo */
.fondo {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  flex-direction: column; }

/* Imagenes fondo */
.fondo--inicio {
  background-image: url(../img/fondos/iniciomobile.jpg); }
  @media (min-width: 768px) {
    .fondo--inicio {
      background-image: url(../img/fondos/inicio.jpg); } }

.fondo--bio {
  background-image: url(../img/fondos/biomobile.webp); }
  @media (min-width: 480px) {
    .fondo--bio {
      background-image: url(../img/fondos/bio.webp); } }

.fondo--media {
  background-image: url(../img/fondos/media.jpg); }

.fondo--tecnica {
  background-image: url(../img/fondos/tecnica.jpg); }

.fondo--contacto {
  background-image: url(../img/fondos/contactomobile.webp); }
  @media (min-width: 480px) {
    .fondo--contacto {
      background-image: url(../img/fondos/contacto.webp); } }

/* Barra de navegacion */
.header {
  background: linear-gradient(90deg, rgba(196, 53, 126, 0.5) 0%, rgba(238, 145, 188, 0.5) 100%); }

.navbar {
  background: linear-gradient(90deg, rgba(196, 53, 126, 0.5) 0%, rgba(238, 145, 188, 0.5) 100%) !important; }

.navbar__logo {
  margin: 0 1rem 0 1rem; }

.navbar-nav li {
  display: flex;
  justify-content: center; }

.navbar-toggler-icon {
  width: 2rem;
  height: 2rem; }

.enlace {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  color: #F8CF57;
  transition: color .3s ease !important;
  text-decoration: none; }

.enlace:hover {
  color: #e7e7e7 !important; }

li .enlace--menu {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  font-size: 2rem;
  margin-right: 2rem;
  transition: color .3s;
  color: #e7e7e7 !important; }

.enlace--menu:hover {
  color: #F8CF57 !important; }

/* Footer */
.footer {
  background: linear-gradient(90deg, rgba(196, 53, 126, 0.5) 0%, rgba(238, 145, 188, 0.5) 100%);
  margin-top: 1.5rem; }
  .footer__redes {
    width: 95%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0 1rem 0; }
    @media (min-width: 768px) {
      .footer__redes {
        justify-content: flex-end;
        align-items: center;
        gap: 2rem; } }

.footer__redes--hover {
  transition: background-color border-radius .5s ease; }

.footer__redes--hover:hover {
  background-color: rgba(238, 145, 188, 0.5);
  border-radius: 10px; }

.footer__nombre {
  display: inline;
  font-family: "PT Sans", sans-serif;
  color: #F8CF57;
  font-size: 1.5rem;
  margin: 0; }

/* Se reutiliza */
.negrita {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  font-size: 2.5rem; }

/* Index MBF */
.titulo {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  color: #C4357E;
  border: 2px solid #C4357E;
  border-radius: 10px;
  background-color: rgba(248, 207, 87, 0.8);
  padding: 1rem; }

.main--tarjetas {
  display: flex;
  flex-direction: column; }

.contenedor--tarjetas {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 60%;
  margin-top: 3rem; }
  @media (min-width: 768px) {
    .contenedor--tarjetas {
      width: 60%;
      align-self: flex-end; } }

.tarjetas {
  background-color: rgba(238, 145, 188, 0.5);
  border: 2px solid #F8CF57;
  border-radius: 10px;
  padding: 1rem; }

.tarjetas--textindex {
  font-size: 1.5rem;
  line-height: 1.2; }
  @media (min-width: 768px) {
    .tarjetas--textindex {
      font-size: 2rem; } }

.main--funciones {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(238, 145, 188, 0.5);
  padding: 1rem;
  border: 2px solid #F8CF57;
  border-radius: 10px; }

.ubicacion {
  min-width: 95%; }

/* Bio MBF */
@media (min-width: 480px) {
  .tarjeta--bio {
    width: 50%; } }

.habilidades__contenedor {
  border: 2px solid #F8CF57;
  border-radius: 10px;
  background-color: rgba(238, 145, 188, 0.5);
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: background-color .3s ease; }

.habilidades__contenedor:hover {
  background-color: #C4357E; }

.habilidades__img {
  max-width: 10rem; }

.habilidades__texto {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  font-size: 3rem;
  color: #F8CF57; }

/* Media MBF */
.media {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem; }

.carousel {
  border: 2px solid #F8CF57;
  border-radius: 10px;
  background-color: rgba(238, 145, 188, 0.5);
  padding: 2rem; }
  @media (min-width: 768px) {
    .carousel {
      width: 60vw; } }

.carousel-caption h5 {
  font-family: "Antic Slab", serif;
  font-size: 2rem;
  color: black;
  background-color: rgba(248, 207, 87, 0.8);
  border-radius: 10px; }
  @media (min-width: 480px) {
    .carousel-caption h5 {
      font-size: 2.5rem; } }

/* Técnica MBF */
.tecnica {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; }

.tecnica__tarjeta {
  align-self: flex-start;
  margin: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.tecnica__tarjeta:last-of-type {
  align-self: flex-end;
  margin-bottom: 2rem; }

.tecnica__tarjeta--titulo {
  font-size: 4rem;
  color: #F8CF57;
  font-weight: bold; }

.tecnica__tarjeta__contenedor {
  display: flex;
  flex-direction: column;
  align-content: center; }

.contenedorTecnica {
  text-align: center;
  margin: 1rem; }

.subsTecnica {
  font-size: 2rem;
  font-weight: 700; }

.textoTecnica {
  font-size: 1.4rem;
  font-weight: normal; }

.alert {
  border-radius: 10px;
  margin: 0 1rem 1rem 1rem;
  border: 2px solid #C4357E; }
  .alert p {
    font-family: "Antic Slab", serif;
    font-weight: bold;
    font-size: 2rem;
    color: #C4357E; }

.protocolo {
  width: 100% !important;
  display: flex;
  justify-content: center; }
  @media (min-width: 768px) {
    .protocolo {
      width: 70%; } }

.texto__protocolo {
  color: #F8CF57;
  font-weight: bold;
  font-size: 2rem; }

/* Contacto MBF */
.centro {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; }

.form {
  width: 90%; }
  .form label {
    font-size: 2rem;
    font-family: "PT Sans", sans-serif;
    color: #F8CF57; }
  .form textarea {
    width: 100%;
    background-color: rgba(238, 145, 188, 0.5);
    border-radius: 5px;
    border: 2px solid #F8CF57;
    resize: none; }

input {
  background-color: rgba(238, 145, 188, 0.5);
  border-radius: 5px;
  border: 2px solid #F8CF57; }

.boton {
  background-color: #C4357E;
  font-family: "PT Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: #e7e7e7;
  padding: 1rem;
  transition: color .3s ease; }

.boton:hover {
  color: #F8CF57; }

.contacto {
  display: flex;
  text-align: center;
  gap: 5rem;
  margin-top: 2rem;
  height: 70%;
  width: 95%; }
  @media (min-width: 480px) {
    .contacto {
      flex-direction: column; } }

.contenedorContacto {
  background-color: rgba(238, 145, 188, 0.5);
  border-radius: 5px;
  border: 2px solid #F8CF57;
  padding: 0.5rem;
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.textoContacto {
  text-align: center;
  color: #e7e7e7;
  font-family: "Antic Slab", serif;
  font-weight: bold;
  font-size: 1.5rem; }
  @media (min-width: 480px) {
    .textoContacto {
      font-size: 2rem; } }

.logoCtc {
  color: #F8CF57;
  margin: 1rem; }

@media (min-width: 480px) {
  .form {
    width: 70%; } }

.form-control {
  background-color: rgba(238, 145, 188, 0.5);
  border: 2px solid #F8CF57; }

@media (min-width: 768px) {
  .form, .contacto {
    width: 50%; } }
