/* Barra de navegacion */

.header{
    background: linear-gradient(90deg, rgba(196,53,126,0.5) 0%, rgba(238,145,188,0.5) 100%);
}

.navbar{
    background: linear-gradient(90deg, rgba(196,53,126,0.5) 0%, rgba(238,145,188,0.5) 100%) !important;
}

.navbar__logo{
    margin: 0 1rem 0 1rem;
}

.navbar-nav li {
    display: flex;
    justify-content: center;
}

.navbar-toggler{
    border: 0;
}

.navbar-toggler-icon{
    width: 2rem;
    height: 2rem;
}

.enlace {
    font-family: $fuenteHead;
    font-weight: bold;
    font-size: 1.5rem;
    color: $amarillo;
    transition: color .3s ease !important;
    text-decoration: none;
}

.enlace:hover{
    color: $blanco !important;
}

li{
    .enlace--menu{
        font-family: $fuenteHead;
        font-weight: bold;
        font-size: 2rem;
        margin-right: 2rem;
        transition: color .3s;
        color: $blanco !important;
    }
}

.enlace--menu:hover{
    color: $amarillo !important;
}