/* Fondo */

.fondo {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

/* Imagenes fondo */

// Fondo inicio

.fondo--inicio{
    background-image: url(../img/fondos/iniciomobile.jpg);

    @include media(md){
        background-image: url(../img/fondos/inicio.jpg);
    }
}

// Fondo bio

.fondo--bio{
    background-image: url(../img/fondos/biomobile.webp);


    @include media(sm){
        background-image: url(../img/fondos/bio.webp);
    }
}

// Fondo media

.fondo--media{
    background-image: url(../img/fondos/media.jpg);
}

// Fondo tecnica

.fondo--tecnica{
    background-image: url(../img/fondos/tecnica.jpg);

}

// Fondo contacto

.fondo--contacto{
    background-image: url(../img/fondos/contactomobile.webp);


    @include media(sm){
        background-image: url(../img/fondos/contacto.webp);
    }
}