//Colores
$blanco: #dddddd;
$amarillo: #F8CF57;
$amarillotransp: rgba(248,207,87,0.8);
$rosatransp: rgba(238,145,188,0.5);
$rosaosc: #C4357E;
$rosaclaro: #EE91BC;


//Fuentes 
$fuenteHead: 'PT Sans', sans-serif;
$fuenteP: 'Antic Slab', serif;
$fuenteHead2: 'Antic Slab', serif;
