//Colores
$blanco: #e7e7e7;
$amarillo: #F8CF57;
$amarillotransp: rgba(248,207,87,0.8);
$rosatransp: rgba(238,145,188,0.5);
$rosaosc: #C4357E;
$rosaclaro: #EE91BC;


//Fuentes 
$fuenteHead: 'PT Sans', sans-serif;
$fuenteP: 'Antic Slab', serif;
$fuenteHead2: 'Antic Slab', serif;

//Borde
$bordeAmarillo: 2px solid #F8CF57;
$bordeRosa: 2px solid #C4357E; 

$radius: 10px;